<h4>Login</h4>

<%= form_for @user, url: login_path, html: {autocomplete: "off"} do |f| %>
  <%= f.label :name, "Username: " %>
  <%= f.text_field :name %><br><br>

  <%= f.label :password, "Password: " %>
  <%= f.password_field :password %><br><br>

  <%= f.submit "Submit" %>
<% end %>
